In [198]:
import pandas as pd
import json
import re

In [142]:
df = pd.read_csv("shots_v1.csv")

In [143]:
df.rename(columns = {"0": "Jornada"}, inplace = True)
df.drop(columns = ["Unnamed: 0.1", "Unnamed: 0"], inplace = True)

In [147]:
df.dtypes

Jornada     int64
1          object
dtype: object

In [149]:
len(df)

29

In [262]:
length = []
first = []
for i in range(1, len(df)):
    names = []
    cosa = df.iloc[i]
    hola = cosa[1]
    p = re.compile('(?<!\\\\)\'')
    hola = p.sub('\"', hola)
    otra = json.loads(hola)
    shots = otra[0]
    #getting the names
    for k,v in shots.items():
        length.append(len(v)//3)
        first.append(k)
    res_list = [length[i] * str(first[i] + ", ") for i in range(len(length))]
    for i in range(len(res_list)):
        primero = res_list[i].split(",")
        for n in primero:
            names.append(n)

In [263]:
for elem in names:
    if elem == " ":
        names.remove(elem)

In [264]:
len(names)

31577

In [249]:
prueba = []
for i in range(1, len(df)):
    cosa = df.iloc[i]
    hola = cosa[1]
    p = re.compile('(?<!\\\\)\'')
    hola = p.sub('\"', hola)
    otra = json.loads(hola)
    shots = otra[0]
    valores = list(shots.values())
    for i in valores:
        for n in i:
            prueba.append(n)

In [251]:
len(prueba)

94731

In [77]:
made = []
for i in range(0, len(prueba), 3):
    made.append(prueba[i])

In [74]:
coord_x = []
for i in range(1, len(prueba), 3):
    coord_x.append(prueba[i])

In [76]:
coord_y = []
for i in range(2, len(prueba), 3):
    coord_y.append(prueba[i])

In [115]:
cositas = list(zip(names, made, coord_x, coord_y))

In [116]:
df = pd.DataFrame(cositas)

In [117]:
df.rename(columns = {0: "name", 1: "shot", 2: "coord_x", 3: "coord_y"}, inplace = True)

In [118]:
for i in df.coord_x:
    df.coord_x[i] = round(float(i), 2)

               name          shot             coord_x             coord_y
0      J. Zyskowski     #local-in               24.75  126.41666666666667
1      J. Zyskowski     #local-in               24.75  23.883333333333333
2      J. Zyskowski    #local-out  25.705345316934725  23.883333333333333
3      J. Zyskowski     #local-in  27.616035950804164  137.86666666666667
4      J. Zyskowski     #local-in   27.12899716177862  129.81666666666666
...             ...           ...                 ...                 ...
1152    T. Hlinason   #visitor-in  443.35983916745505  113.03333333333333
1153    T. Hlinason   #visitor-in   465.7448912015137  128.63333333333333
1154    T. Hlinason   #visitor-in   454.3369441816462  130.41666666666669
1155      J. García   #visitor-in  349.30515610217594   87.93333333333334
1156      J. García  #visitor-out   427.9806527909177  252.23333333333332

[1157 rows x 4 columns]